@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Fraunces&display=swap");
body {
  padding: 12px;
  background-color: hsl(30, 38%, 92%);
}

h5 {
  font-family: "Montserrat";
  font-weight: 500;
}

h1 {
  font-family: "Fraunces";
  font-weight: 700;
  font-size: 32px;
}

p {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 14px;
}

.card-img {
  width: 100%;
  height: 200px;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.card {
  display: flex;
  flex: 1;
  background-color: hsl(0, 0%, 100%);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
}

.card-content {
  display: flex;
  flex: 1;
  padding: 0 24px 24px 24px;
  flex-direction: column;
}

.price-section {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.per-price {
  font-family: "Fraunces";
  font-weight: 700;
  font-size: 32px;
  color: hsl(158, 36%, 37%);
}

.of-price {
  margin-left: 12px;
  font-family: "Fraunces";
  color: hsl(228, 12%, 48%);
  text-decoration-line: line-through;
}

button {
  display: flex;
  background-color: hsl(158, 36%, 37%);
  height: 52px;
  border-radius: 0.5rem;
  border-width: 0;
  justify-content: center;
  align-items: center;
}

button:hover {
  background-color: hsl(158, 36%, 16%);
  transition: 0.5s;
  transition-timing-function: linear;
}

.button-title {
  font-size: 16px;
  margin-left: 12px;
  color: hsl(0, 0%, 100%);
  font-weight: 700;
}

@media screen and (min-width: 640px) and (max-width: 1440px) {
  .card {
    flex-direction: row;
  }
  .card-img {
    content: url("./images/image-product-desktop.jpg");
    object-fit: fill;
    height: 100%;
    width: 50%;
    border-radius: 0;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
  }
}
